/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.cuadrado {
  width: auto;
  height: auto;
  overflow: hidden;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

.texto_derecha {
  float: right;
  font-size: 1em;
  text-align: left;
  width: 85%;
}


/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:#aaa;
}

#c2 {
    background-color:#bbb;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

@font-face {
  font-family: 'Star Jedi Rounded';
  src: url(StarJediRounded-jW3R.ttf) format("truetype");
}

h1 {
  font-family: 'Star Jedi Rounded';
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-family: 'Star Jedi Rounded';
  font-style: normal;
  font-weight: normal;
}

h3 {
  font-family: 'Star Jedi Rounded';
  font-style: normal;
  font-weight: normal;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img {
  max-width: 100%;
  height: auto;
  border: 5px solid;
  border-image: linear-gradient(to right, white, gray, black) 1;
  overflow: hidden;
  min-width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  max-width: 100%;
  table-layout: fixed;
}

.iresponsive {
  padding: 0 6px;
  float: left;
  width: 50%;
  }


  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.flex-container img {
    width: 300px;
    height: auto;
    margin-right: 20px;

}

.flex-container .text {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        text-align: center;
    }

    .flex-container img {
        margin: 0 0 20px 0;
        width: 100%;
    }
}

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
      min-height: auto;
    }

    .iresponsive {
        width: 100%;
    }
    
    .cuadrado {
      width: 100%;
    }

    .izquierda, .derecha {
      width: 100%;
    }

    .texto_derecha {
      width: 100%;
      text-align: center;
      float: none;
      max-width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */