@font-face {
    font-family: Montserrat;
    src: url(./Montserrat-Regular.ttf);
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    cursor: pointer;
}

.disabled {
    color: #757575;
}

.card {
    position: relative;
    width: 240px; /* Ancho estándar de una carta de póker */
    height: 336px; /* Altura estándar de una carta de póker */
    cursor: pointer;
    perspective: 1000px;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-front {
    background-color: #fcc70b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28pt;
    user-select: none;
}

.card-back {
    background-image: url(./fondo_carta.png); /* Cambia la ruta a la imagen de la parte trasera de la carta */
    background-size: cover; /* Ajusta la imagen para cubrir toda la carta */
    background-position: center; /* Centra la imagen en la carta */
    transform: rotateY(180deg);
}

.card.flipped .card-front {
    transform: rotateY(180deg);
}

.card.flipped .card-back {
    transform: rotateY(0);
}

.tablero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px; /* Espacio entre las cartas */
    justify-items: center; /* Centra las cartas en el tablero */
}
