@font-face {
  font-family: Montserrat;
  src: url(./Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Press Start 2P";
  src: url('./PressStart2P-vaV7.ttf') format('truetype');
}

p {
  font-family: "Press Start 2P";

}
h1 {
  font-family: "Press Start 2P";

}

body {
    font-family: Arial, sans-serif;
    background: url('fondo_city.gif') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .controls {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .controls label,
  .controls select,
  .controls button,
  .stats {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .controls select {
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #555;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .board {
    display: grid;
    gap: 15px; /* sin espacio entre cartas */
    background-color: #222;
    padding: 10px;
    border: 4px solid white;
    border-radius: 10px;
  }
  
  .card {
    width: 60px;
    height: 80px;
    perspective: 1000px;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card.revealed .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid #000;
  }
  
  .card-front {
    background-image: url('./fondo_carta.png');
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    border: 2px solid #000;
  }
  
  .card-back {
    background-color: #4caf50;
    color: white;
    transform: rotateY(180deg);
  }

  .card-back img {
    border-radius: 6px;
  }
  
  .card.matched .card-back {
    background-color: #2196f3;
  }
  
  .win-message {
    margin-top: 20px;
    background-color: #333;
    padding: 15px 25px;
    border-radius: 10px;
    color: lightgreen;
    font-size: 18px;
  }
  
  .hidden {
    display: none;
  }
  
  .start-hint {
    text-align: center;
    color: #ccc;
    font-style: italic;
    margin-top: 10px;
  }